h2.question {
  color: var(--text-color);
  font-weight: var(--fw-subheading);
  margin-bottom: 0.825rem;
}

label {
  margin-right: 0.75rem;
  margin-left: 0.25rem;
}

hr {
  margin-block: 1rem;
  border: 0.75px solid #dbdef0;
}
