main {
  /* background-color: aquamarine; */
  width: clamp(150px, 90%, 1024px);
}

.blue-blob {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.yellow-blob {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
